#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-height: 80vh;
  margin: 0 auto;
}

#contact h1 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: var(--white);
  text-align: center;
}

#contact p {
  font-size: 1.2rem;
  color: var(--off-white);
  text-align: center;
}

.contact-info {
  flex: 0.5;
  display: flex;
  flex-direction: column;
}

.contact-info .contact-container {
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  #contact {
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
  }

  #contact h1 {
    font-size: 1.8rem;
  }

  #contact p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
  }

  .contact-info .contact-container {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0px;
  }
}
