#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

#contact h1 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: var(--white);
  text-align: left;
}

#contact p {
  font-size: 1.2rem;
  color: var(--off-white);
  text-align: left;
}

.contact-info {
  flex: 0.5;
  display: flex;
  flex-direction: column;
}

.contact-info .contact-container {
  display: flex;
  justify-content: flex-start;
}

.contact-form {
  flex: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1rem;
  color: var(--off-white);
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--gray);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--off-white);
  outline: none;
  transition: border-color 0.3s ease;
  min-width: 50%;
  max-width: 100%;
  box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: var(--lavender);
}

.submit-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--white);
  background-color: var(--steel-blue);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-button:hover {
  transform: translateY(-2px);
  background-color: var(--lavender);
}

@media (max-width: 768px) {
  #contact {
    flex-direction: column;
    align-items: center;
  }

  #contact h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  #contact p {
    font-size: 1rem;
    line-height: 1.5;
  }

  .contact-info {
    width: 100%;
  }

  .contact-info .contact-container {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0px;
  }

  .contact-form {
    width: 100%;
  }

  .form-group input,
  .form-group textarea {
    font-size: 1rem;
    min-width: 100%;
    max-width: 100%;
  }

  .form-group label {
    font-size: 1rem;
  }

  .submit-button {
    font-size: 1rem;
    padding: 10px;
    width: 100%;
  }
}
