.about-page {
  display: flex;
  justify-content: center;
  align-items: left;
  text-align: left;
  height: 80vh;
  width: 60%;
  margin: 0 auto;
  flex-direction: column;
}

.about-page h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--white);
  margin-top: 50px;
}

.about-page p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 20px;
  color: var(--off-white);
  text-align: justify;
}

.about-page a {
  color: var(--lavender);
  text-decoration: none;
  border-bottom: 2px solid var(--lavender);
  transition: color 0.3s, border-bottom 0.3s;
}

.about-page a:hover {
  color: var(--off-white);
  border-bottom: 2px solid var(--off-white);
}
