.about-page {
  display: flex;
  justify-content: center;
  align-items: left;
  text-align: left;
  height: 100vh;
  width: 60%;
  margin: 0 auto;
  flex-direction: column;
}

.about-page h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: var(--white);
  text-align: center;
  margin-top: 50px;
}

.about-page p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 20px;
  color: var(--off-white);
  text-align: justify;
}

.about-page a {
  color: var(--lavender);
  text-decoration: none;
  border-bottom: 2px solid var(--lavender);
  transition: color 0.3s, border-bottom 0.3s;
}

.about-page a:hover {
  color: var(--off-white);
  border-bottom: 2px solid var(--off-white);
}

@media (max-width: 768px) {
  .about-page {
    width: 90%;
    padding: 15px;
  }

  .about-page h1 {
    font-size: 1.8rem;
    margin-top: 20px;
    text-align: center;
  }

  .about-page p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .about-page a {
    font-size: 1rem;
  }
}
