.core-value {
  position: absolute;
  padding: 1rem;
  width: 150px;
  background-color: #535c91;
  color: #ffffff;
  border: 1px solid #e4e8f0;
  border-radius: 10px;
  cursor: grab;
  text-align: center;
  transition: transform 0.2s, background-color 0.3s ease;
}

.core-value-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: start;
}

.core-value-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #ffffff;
}

.core-value:hover,
.core-value.highlight {
  background-color: #4f5a6d;
  border: 0px solid;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.core-value h3 {
  margin: 0;
  color: #ffffff;
}

.definition {
  display: none;
  margin-top: 0.5rem;
  color: #ffffff;
}

.core-value.expanded .definition {
  display: block;
}

#connections {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

line {
  stroke: #ffffff;
  stroke-width: 2;
  pointer-events: auto;
}

.transparent-line {
  stroke: transparent;
  stroke-width: 10; /* Larger clickable area */
  pointer-events: stroke;
  cursor: pointer;
}

.transparent-line:hover,
.transparent-line.highlight {
  stroke: #3e4756;
  stroke-width: 8;
}

.activity-box {
  position: absolute;
  padding: 1rem;
  width: 250px;
  background-color: #1b1a55;
  color: #ffffff;
  border-radius: 10px;
  cursor: grab;
  text-align: center;
  transition: transform 0.2s, background-color 0.3s ease;
}

.activity-box:hover,
.activity-box.highlight {
  background-color: #4f5a6d;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.activity-box .title,
.activity-box .location,
.activity-box .duration {
  margin: 0;
  color: #ffffff;
  transition: color 0.3s ease;
}

.activity-box .title {
  font-size: 1.2rem;
  font-weight: bold;
}

.activity-box .location {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-style: italic;
  color: #ffffff;
}

.activity-box .duration {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: #ffffff;
}

.activity-box.expanded {
  cursor: default;
}

.line-text-box {
  position: absolute;
  background-color: #e4e8f0;
  color: #1b1a55;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  text-align: center;
  z-index: 1000;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 200px;
  max-width: 300px;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1.4;
  cursor: pointer;
}
