.core-value {
  padding: 1rem;
  width: 150px;
  background-color: var(--steel-blue);
  color: var(--white);
  border: 1px solid var(--off-white);
  border-radius: 10px;
  cursor: grab;
  text-align: center;
  transition: transform 0.2s, background-color 0.3s ease;
}

.core-value-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: start;
}

.core-value-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: var(--white);
}

.core-value:hover,
.core-value.highlight {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: var(--lavender);
  border: 0px solid;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.core-value h3 {
  margin: 0;
  color: var(--white);
}

.definition {
  font-size: 0.9em;
  display: none;
  margin-top: 0.5rem;
  color: var(--white);
}

.core-value.expanded .definition {
  display: block;
}

#map-container {
  user-select: none;
  position: relative;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#map {
  position: relative;
  width: 100%;
  height: 85vh;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0.5px solid var(--off-white);
  border-radius: 10px;
  overflow: hidden;
}

#map-content {
  width: 100%;
  height: 100%;
  position: relative;
  transform-origin: center;
  overflow: hidden;
}

/* Zoom controls styling */
#zoom-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  z-index: 20;
}

#zoom-controls button {
  width: 40px;
  height: 40px;
  background-color: var(--very-dark-purple);
  color: var(--off-white);
  border-radius: 30%;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
}

#zoom-controls button:hover {
  background-color: var(--off-white);
  transform: scale(1.1);
  color: var(--very-dark-purple);
}

.map-label {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0.5px solid var(--off-white);
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 20px 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--off-white);
  text-align: center;
  z-index: 10;
  width: 20%;
}

#connections {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

line {
  stroke: var(--steel-blue);
  stroke-width: 2;
  pointer-events: auto;
}

.transparent-line {
  stroke: transparent;
  stroke-width: 10;
  pointer-events: stroke;
  cursor: pointer;
}

.transparent-line:hover,
.transparent-line.highlight {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  stroke: var(--lavender);
  stroke-width: 8;
}

.activity-box {
  padding: 1rem;
  width: 250px;
  background-color: var(--deep-indigo);
  color: var(--white);
  border-radius: 10px;
  cursor: grab;
  text-align: center;
  transition: transform 0.2s, background-color 0.3s ease;
}

.activity-box:hover,
.activity-box.highlight {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: var(--lavender);
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.activity-box .title,
.activity-box .location,
.activity-box .duration {
  margin: 0;
  color: var(--white);
  transition: color 0.3s ease;
}

.activity-box .title {
  font-size: 1.2rem;
  font-weight: bold;
}

.activity-box .location {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-style: italic;
  color: var(--white);
}

.activity-box .duration {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: var(--white);
}

.activity-box .description {
  display: none;
  font-size: 0.7rem;
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
  color: var(--white);
}

.activity-box.expanded .description {
  display: block;
}

.line-text-box {
  background-color: var(--off-white);
  color: var(--very-dark-purple);
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  text-align: center;
  z-index: 1000;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 200px;
  max-width: 300px;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1.4;
  cursor: pointer;
}

@media (max-width: 768px) {
  .core-value {
    width: 120px;
    padding: 0.8rem;
    font-size: 0.9rem;
  }

  .core-value-icon {
    width: 16px;
    height: 16px;
  }

  .core-value h3 {
    font-size: 1rem;
  }

  #map-container {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }

  #map {
    height: 600px;
  }

  .map-label {
    font-size: 1.2rem;
    padding: 15px 10px;
    width: 80%;
  }

  .activity-box {
    width: 200px;
    padding: 0.8rem;
  }

  .activity-box .title {
    font-size: 1rem;
  }

  .activity-box .location {
    font-size: 0.9rem;
  }

  .activity-box .duration {
    font-size: 0.75rem;
  }

  .activity-box .description {
    font-size: 0.7rem;
  }

  .line-text-box {
    width: 150px;
    font-size: 0.8rem;
  }
}
